{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'hello/site.css' %}" />

<div id="header"></div>
<div class="left"></div>
<div class="stuff">
  <br><br>
  <h1>My Portofolio</h1>
  <h2>Mostafa Zahran</h2>
  <hr />
  <br>
  <p class="head">Education</p>
  <ul>
    <li>Faculty of computer and information science Ain shams uinveristy</li>
  </ul>
  
  <p class="head">Techinical Skills</p>
  <ul>
    <li>Linux Administration</li>
    <li>Django</li>
    <li>Networking basics</li>
    <li>Bash Scripting</li>
    <li>OOP</li>
    <li>Data Structures</li>
    <li>Programming Lnaguages : C# , C++ , Python , Java </li>
  </ul>
  <p class="head">Soft Skills</p>
      <li>Problem solving</li>
      <li>Time Mangament</li>
      <li>Communication skills</li>
      <li>Researching skills</li>

  <ul>
  
  </ul>
  <p class="head">Experience</p>
  <ul>
    <li>DevOps internship</li>
 
  </ul>
  <p class="head">Langauage</p>
  <ul>
    <li>Arabic : Native</li>
    <li>English: Fluent</li>
    <li>French : Good</li>
  </ul>
  <p class="head">Hobbies</p>
  <ul>
    <li>Reading</li>
    <li>Programming</li>
  </ul>
</div>
<div class="right"></div>
<div id="footer">
  <h2 id="name">Mostafa Zahran</h2></div>